<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SpringBoot Publish</title>
    <meta charset="UTF-8" />
</head>

<body onload="disconnect()">
<noscript><H2>你的浏览器不支持webstock</H2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect()">连接</button>
        <button id="disconnect" disabled="disabled" onclick="connect()">断开</button>
    </div>

    <div id="conversationDiv">
        <label>输入你的名字</label><input type="text" id="name" />
        <button id="sendName" onclick="send()" >Send</button>
        <p id="response"></p>
    </div>
</div>
</body>
<script th:src="@{stockjs.min.js}"></script>
<script th:src="@{stomp.min.js}"></script>
<script th:src="@{jquery.min.js}"></script>
<script type="text/javascript">
    function connect() {

    }

    function disconnect() {

    }

    function sendName() {

    }
    function showResponse(message) {

    }
</script>
</html>